<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
    </configSections>
    <nlog>
        <targets>
            <target type="EventLog"
                name="eventlog"
                source="test"
                layout="${message}${newline}${exception:format=ToString}"/>
            </targets>
        <rules>
            <logger name="*" minlevel="Debug" writeTo="EventLog" />
        </rules>
    </nlog>
</configuration>